<div class="bg-[#3778c2] text-white flex justify-between p-2 items-center w-full">
    <span class="w-5 h-5">
      <%= link_to(url) do %>
      <svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75"></path>
      </svg>
      <% end %>
    </span>
    <h2 class="font-weight-bold"><%= title %></h2>
    <span class="w-3"></span>
</div>